
body{
    font-family: sans-serif;
    font-size: 11pt;
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    /*image-rendering: pixelated;*/
    background-size: cover;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;

}
table{
    top: 20%;
    border-radius: 20px;
    width: 94%;
}
th,td{
    padding: 10px;
    text-align: center;
}
th{
    background-color: #a70000;
    color: white;
}
tr:nth-child(even){
    background-color: #cecece !important
}
tr:nth-child(odd){
    background-color: #efefef !important;
}
#first_row{
    background-image: linear-gradient(145deg, rgba(19, 177, 205, 0.95) 0%, rgba(152, 119, 234, 0.95) 100%);
  background-repeat: repeat-x;
}
img{
    width: 8em;
    height: 6em;
}
img {
    transition: -webkit-transform 0.25s ease;
}

img:active {
    -webkit-transform: scale(5);
}

footer{
    bottom: 0;
}