
a{
  text-decoration: none;
  color: black;

}

a:hover {
  color: red;
}

.logo-img-new{
  display: inline;
}

#logo-new{
    height: 3em;
    width:auto;
}

.Navbar {
  position: fixed;
  width: 96vw;
  background-color: rgba(102, 102, 102,0.3);
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: black;
}

.Navbar__Link {
  padding-right: 8px;
  padding-top: 1em;
  font-size: 1em;
}

.Navbar__Items {
  display: flex;
  text-align: center;
}

.Navbar__Items, .Navbar {
   flex-direction: column;
}

.Navbar__Items {
    display:none;
    color: black;
    

}
.Navbar__ToggleShow {
    display: flex;
}

.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
}