body, html {
    height: 100%;
}

.parallax_loader{
		
	background-image: url('../img/loader-1.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.para_content{
    text-align: center;
}

.name_comp{
	text-align:center;
	padding-top: 10%;
}

.about_sec{
	
	padding: 3%;
}

header{
    position: fixed;
    background-color: transparent;
    padding-top: 2px;
}

#logo{
    height: 3.5em;
    width:auto;
}