@font-face {
    font-family: Raleway-SemiBold;
    src: url('./fonts/raleway/Raleway-SemiBold.ttf'); 
}
  
@font-face {
    font-family: Raleway-Bold;
    src: url('./fonts/raleway/Raleway-Bold.ttf'); 
}
  
@font-face {
    font-family: Raleway-Black;
    src: url('./fonts/raleway/Raleway-Black.ttf'); 
}

/*---------------------------------------*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
    /*font-family: Raleway-SemiBold, sans-serif;*/
    width: 100%;
}

input {
	outline: none;
	border: none;
}

textarea {
    outline: none;
    border: none;
}

body{
    font-size: 11.5pt;
    background-repeat: repeat-y;
    background-size: cover;
}

a{
  text-decoration: none;
  font-size: 1.4em;
  color: #fff !important;

}

a:hover {
  text-decoration: none;
  color: #13b1cd !important;
}

/*--------------------------------------*/

.a-header,.a-footer{
    text-decoration: none;
    font-size: 1.3em;
    color: #000 !important;
  
}
  
.a-header:hover {
    text-decoration: none;
    color: #13b1cd !important;
}
  
.Navbar{
    width: 96%;
}
@media(max-width: 54em)
{
    .logo-img-new{
      display: inline;
    }
  
    #logo-new{
        height: 2.2em;
        width:auto;
    }
  
    .Navbar {
      width: 100%;
      z-index: 1;
      position: fixed;
      background-color: rgba(102,102,102,0);
      display: flex;
      padding: 16px;
      font-family: sans-serif;
      color: black;
    }
  
    .Navbar__Link {
      padding-right: 8px;
      padding-top: 1em;
      font-size: 1em;
    }
  
    .Navbar__Items {
      display: flex;
      text-align: center;
    }
  
    .Navbar__Items, .Navbar {
       flex-direction: column;
    }
  
    .Navbar__Items {
        display:none;
        color: black;
    }
    .Navbar__ToggleShow {
        display: flex;
    }
  
    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}
@media(min-width: 54.1em)
{
    .Navbar{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 16px;
      width: 100%;
      position: fixed;
      background-color: rgba(102,102,102,0);
      display: grid;
      grid-template-columns: 1fr 1fr 3fr;
    }
  
    .logo-img-new{
      display: inline;
    }
  
    #logo-new{
        height: 2.2em;
        width: auto;
    }
  
    .Navbar__Link-toggle{
      display: none;
    }
  
    .Navbar__Items{
      float: right;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
      text-align: right;
    }
  
    .Navbar__Link{
      padding-right: 2em; 
      float: right;
    }
  }
  .active{
    background-color: #cecece !important;
    color: black !important;
  }
  .active .a-header{
    color: black !important;
}

/*--------------------------------------*/

.container{
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #d867c6;
    background: -webkit-linear-gradient(45deg, #c77ff2, #e8519e);
   /* background: -o-linear-gradient(45deg, #c77ff2, #e8519e);
    background: -moz-linear-gradient(45deg, #c77ff2, #e8519e);*/
    background: linear-gradient(45deg, #c77ff2, #e8519e);
}

.wrap-contact{
    width: 790px;
    margin-top: 50px;
    background: #fff;
    border-radius: 4px;
    padding: 25px 95px 50px 95px;
}

/*------------------------------------*/

.contact-form{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form-title{
    width: 100%;
    display: block;
    font-family: Raleway-Black;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 45px;
}

/*----------------------------------*/

.wrap-input {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 34px;
}
  
.rs1.wrap-input {
    width: calc((100% - 40px) / 2);
}
  
  
.label-input{
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: #555555;
    line-height: 1.5;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 11px;
}
  
.input100{
    display: block;
    width: 100%;
    background: transparent;
    font-family: Raleway-SemiBold;
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    padding: 0 25px;
}

input.input100{
    height: 55px;
}
  
textarea.input100{
    min-height: 162px;
    padding-top: 19px;
    padding-bottom: 15px;
}
/*-----------------------------*/

.focus-input{
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid;
    border-color: #d867c6;
    border-color: -webkit-linear-gradient(45deg, #c77ff2, #e8519e);
    border-color: -o-linear-gradient(45deg, #c77ff2, #e8519e);
    border-color: -moz-linear-gradient(45deg, #c77ff2, #e8519e);
    border-color: linear-gradient(45deg, #c77ff2, #e8519e);
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}
  
.input100:focus + .focus-input{
    visibility: visible;
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*----------------------------*/

.container-contact-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -4px;
}
  
.contact-form-btn {
    font-family: Raleway-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    border-radius: 27px;
    background: #d867c6;
    background: -webkit-linear-gradient(45deg, #c77ff2, #e8519e);
    background: -o-linear-gradient(45deg, #c77ff2, #e8519e);
    background: -moz-linear-gradient(45deg, #c77ff2, #e8519e);
    background: linear-gradient(45deg, #c77ff2, #e8519e);
    position: relative;
    z-index: 1;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.contact-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 27px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #333333;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.contact-form-btn:hover:before {
    opacity: 0;
}
  
.contact-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.contact-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

/*--------------------------*/
#logo{
    width: 8em;
    height: 6em;
}
#logo {
    transition: -webkit-transform 0.25s ease;
}

#logo:active {
    -webkit-transform: scale(5);
}

.connectivity{
  padding: 0.4
}

.connectivity .a-footer{
  text-decoration: none;
  color: #cecece !important;
}

.connectivity .a-footer:hover{
  text-decoration: none;
  color: #13b1cd !important;
}

.connect{
  display: inline;
}
.foot{
  width: 85%;
}

@media(max-width: 54em)
{
  .foot{
    padding: 2em;
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
  }
  .connectivity{
    display: inline;
  }
  .connect{
    display: inline;
  }
  .padd__needed{
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media(min-width: 54.1em){
  .foot{
      padding: 2em;
      width:100%;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: center;
      justify-content: center;
    
    }
    .connectivity{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     align-items: center;
     justify-content: center;
    }
}
#logo{
  height: 1.2em;
  width: auto;
}
